<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/auction.css" rel="stylesheet">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{'/auctionResults'}">
                <img src="/img/main_logo.png" alt="" style="height:24px">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="font-family: 'HelveticaNeue', Sans-serif, serif">
                <li style="background-color:#4b2c20;">
                    <a style="color:#ffffff"><span th:text="${session.adminId}"></span></a>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


