<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aimme</title>
        <link rel="icon" href="/img/favicon-black.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/auction.css" rel="stylesheet">

    </head>
    <body onbeforeunload="closePopup()" style="padding-top: 0px">
        <div class="col-md-10 main" style="float: left">
            <h2 class="sub-header" style="font-family: 'EB Garamond', serif">Artist</h2>
            <!-- 리스트 시작 -->
            <form name="artistCreateFrm" method="post">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="active font-helve">Artist Name</th>
                            <td><input type="text" class="form-control" name="artistName"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Eng Artist Name</th>
                            <td>
                                <input type="text" class="form-control" name="engArtistName">
                            </td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Lower Eng Artist Name</th>
                            <td>
                                <input type="text" class="form-control" name="lowerEngArtistName">
                            </td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Artist Born</th>
                            <td><input type="text" class="form-control" name="born"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Artist Death</th>
                            <td><input type="text" class="form-control" name="death"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Artist Weight</th>
                            <td>
                                <select id="artistWeight" name="weight" class="form-control">
                                    <option value="100" selected>높음</option>
                                    <option value="50">중간</option>
                                    <option value="30">낮음</option>
                                    <option value="1">없음</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Artist Image</th>
                            <td>
                                <button class="btn btn-default" >Image Upload</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <!-- 리스트 끝 -->
            <p style="float: right">
                <button type="submit" class="btn btn-primary" th:attr="onclick=|artistCreate()|">Create</button>
                <button type="button" class="btn btn-default" th:attr="onclick=|closePopup()|">Cancel</button>
            </p>
        </div>

        <footer th:include="layout/footer.html"></footer>
        <div th:include="../static/js/artistjs.html"></div>
    </body>
</html>