<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aimme</title>
        <link rel="icon" href="/img/favicon-black.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/auction.css" rel="stylesheet">

    </head>
    <body onbeforeunload="closePopup()" style="padding-top: 0px">
        <div class="col-md-10 main" style="float: left">
            <h2 class="sub-header" style="font-family: 'EB Garamond', serif">Feedback Detail</h2>
            <!-- 리스트 시작 -->
            <form name="feedbackDetailFrm">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="active font-helve">Feedback Id</th>
                            <td id="feedbackId" name="feedbackId" th:text="${feedbackDetail.id}"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Name</th>
                            <td><input type="text" class="form-control" name="feedbackName" id="feedbackName" th:value="${feedbackDetail.name}"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Content</th>
                            <td>
                                <textarea class="form-control" name="feedbackContent" id="feedbackContent" rows="10" th:text="${feedbackDetail.content}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th class="active font-helve">Email</th>
                            <td>
                                <input type="text" class="form-control" name="feedbackEmail" id="feedbackEmail" th:value="${feedbackDetail.email}">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <!-- 리스트 끝 -->
            <button type="submit" class="btn btn-default" id="deleteBtnFeedback" style="float:left;">
                Delete
            </button>
            <p style="float: right">
                <button type="submit" class="btn btn-primary" id="updateBtnFeedback">Update</button>
                <button type="button" class="btn btn-default" th:attr="onclick=|closePopup()|">Cancel</button>
            </p>
        </div>

        <footer th:include="layout/footer.html"></footer>
        <div th:include="../static/js/feedbackjs.html"></div>
    </body>
</html>