<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aimme - Feedback</title>
    <link rel="icon" href="/img/favicon-black.png" type="image/x-icon">
</head>
<body>
<header th:include="layout/header.html"></header>
<form name="frm">
    <input type="hidden" name="currentPageNo" id="currentPageNo" th:value="${pagging.currentPageNo}">
    <input type="hidden" name="searchValue" th:value="${feedbackValues.searchValue}">
    <input type="hidden" name="searchKey" th:value="${feedbackValues.searchKey}">
</form>

<div class="container-fluid">
    <div class="row">
        <!-- 사이드 메뉴 -->
        <div th:include="layout/sideMenu.html"></div>
        <input type="hidden" id="menuName" th:value="feedback">

        <!-- 검색 시작 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-bottom: 0px">
            <form name="searchFrm" class="navbar-form navbar-left" role="search" style="width:inherit">
                <div class="form-group" style="width:100%">
                    <div style="float:left; margin-right:0.5%">
                        <select class="form-control navbar-left" id="searchKey" name="searchKey" style="margin-right:5px">
                            <option>Name</option>
                            <option>Email</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="searchValue" name="searchValue" placeholder="Search..." th:value="${feedbackValues.searchValue}" style="width:45%; float:left; font-family:'HelveticaNeue', Sans-serif, serif">
                    <div style="width:20%; float:left; margin-left:1%">
                        <button type="submit" class="btn btn-default" id="searchBtn" th:attr="onclick=|search('feedback')|">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 검색 끝 -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header" style="font-family: 'EB Garamond', serif" th:text="'Feedback (' +${totalRecordCount}+')'"></h2>
            <!-- 리스트 시작 -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr style="font-family: 'HelveticaNeue', Sans-serif, serif">
                        <th>No</th>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Email</th>
                        <th>Insert Date Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="feedback : ${feedbackList}">
                        <td class="feedbackId" >
                            <a><span th:text="${feedback.id}"></span></a>
                        </td>
                        <td class="feedbackName" th:text="${feedback.name}"></td>
                        <td class="feedbackContent" th:text="${feedback.content}"></td>
                        <td class="feedbackEmail" th:text="${feedback.email}"></td>
                        <td class="insertDateTime" th:text="${feedback.insertDateTime}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 리스트 끝 -->

            <!-- 페이징 시작 -->
            <nav>
                <div style="text-align: center">
                    <ul class="pagination" th:with="start=${pagging.firstPageNoOnPageList}, last=${pagging.lastPageNoOnPageList}">
                        <li th:if="${pagging.currentPageNo} > 20">
                            <a th:attr="onclick=|pagging(1,'feedback')|" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagging.currentPageNo} > 10">
                            <a th:attr="onclick=|pagging(${pagging.firstPageNoOnPageList}-1,'feedback')|" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                        <li th:class="${page == pagging.currentPageNo} ? 'active'" th:each="page: ${#numbers.sequence(start, last)}">
                            <a th:attr="onclick=|pagging(${page},'feedback')|" th:text="${page}"><span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li th:if="${pagging.firstPageNoOnPageList}+10 < ${pagging.totalPageCount}">
                            <a th:attr="onclick=|pagging(${pagging.lastPageNoOnPageList}+1,'feedback')|" aria-label="Previous">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagging.firstPageNoOnPageList}+20 < ${pagging.totalPageCount}">
                            <a th:attr="onclick=|pagging(${pagging.totalPageCount},'feedback')|" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 페이징 끝 -->
        </div>

    </div>
</div>
<footer th:include="layout/footer.html"></footer>
<div th:include="../static/js/feedbackjs.html"></div>
</body>
</html>