<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aimme</title>
        <link rel="icon" href="/img/favicon-black.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/auction.css" rel="stylesheet">

    </head>
    <body onbeforeunload="closePopup()" style="padding-top: 0px">
        <div class="col-md-10 main" style="float: left">
            <h2 class="sub-header" style="font-family: 'EB Garamond', serif">Detail</h2>
            <!-- 리스트 시작 -->
            <form name="userDetailFrm">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th class="active font-helve">User Id</th>
                            <td id="userId" name="userId" th:text="${userDetail.userId}"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">User Name</th>
                            <td><input type="text" class="form-control" name="userName" id="userName" th:value="${userDetail.userName}"></td>
                        </tr>
                        <tr>
                            <th class="active font-helve">User Email</th>
                            <td>
                                <input type="text" class="form-control" name="userEmail" id="userEmail" th:value="${userDetail.userEmail}">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <!-- 리스트 끝 -->
            <button type="submit" class="btn btn-default" style="float:left;" id="deleteBtnUser">
                Delete
            </button>
            <p style="float: right">
                <button type="submit" class="btn btn-primary" id="updateBtnUser">Update</button>
                <button type="button" class="btn btn-default" th:attr="onclick=|closePopup()|">Cancel</button>
            </p>
        </div>

        <footer th:include="layout/footer.html"></footer>
        <div th:include="../static/js/signUpjs.html"></div>
    </body>
</html>